* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(233, 128, 143);
}

#canvas {
    background-color: white;
    border: solid black 1px;
    touch-action: none;
    position: fixed;
    z-index: -1;
    left: 50px;
    top: 50px;
    width: calc(100vw - 100px);
    height: calc(51vw - 100px);
}

.controls {
    position: fixed;
    z-index: 1;
    right: 48px;
    top: 28px;
    text-align: left;
    display: flex;
}

select,
button,
input {
    background-color: pink;
    display: block;
    padding: 0 1em;
    border: 1px solid black;
    border-radius: 0.25em;
    outline: 0;
    font: inherit;
    color: black;
    cursor: pointer;
}